USE [LYCEUMINTEGRACAO]
go
---------------------------------------------------------

ALTER PROCEDURE [dbo].[PROC_CLIENTES_PROTHEUS](      
    @INTEGRAR_RESUMO_ATO VARCHAR(1)		= 'S'			-- VAI INTEGRAR O RESUMO_ATO? (S)IM OU (N)ÃO	-- PASSO 1
	, @INTEGRAR_TBL VARCHAR(1)			= 'S'			-- VAI INTEGRAR AS ENTIDADES? (S)IM OU (N)ÃO	-- PASSO 2
	, @INTEGRAR_CARGA VARCHAR(1)		= 'S'			-- VAI INTEGRAR AS TABELAS? (S)IM OU (N)ÃO		-- PASSO 3
	, @INTEGRAR_PROTHEUS VARCHAR(1)		= 'N'			-- ENVIAR PARA O PROTHEUS? (S)IM OU (N)ÃO		-- PASSO 4
) 
AS 

BEGIN --86244
	-- EXECUTE [LYCEUMINTEGRACAO]..[PROC_CLIENTES_PROTHEUS] 'N', 'N', 'N', 'S'
	/*
	CRIADO POR:		VITHOR CARVALHO
	CRIADO EM:		25/10/2019 08:55
	ATUALIZADO POR:	- LUCAS TRINDADE
	ATUALIZADO EM:	- 28/08/2020

	OBJETOS EXTERNOS: LYCEUM - a_APoU_Ly_pessoa (ENTRY POINT)
	OBJETOS EXTERNOS: LYCEUM - FTC_TRG_LY_RESP_FINAN_INSERT (TRIGGER)
	OBJETOS EXTERNOS: LYCEUMINETGRACAO - FN_FTC_REMOVE_ACENTO (FUNÇÃO)
	OBJETOS EXTERNOS: LYCEUMINETGRACAO - FN_FTC_REMOVE_CARACTER_ESPECIAL (FUNÇÃO)
	OBJETOS EXTERNOS: LYCEUMINTEGRACAO - FN_FTC_EH_EMAIL (FUNÇÃO)
	OBJETOS EXTERNOS: LYCEUMINTEGRACAO - FTC_INTEGRACAO_LYCEUM_PROTHEUS_POPULA_RESUMO_ATO (PROCEDURE)
	*/

	SET NOCOUNT ON

	DECLARE
		@PESSOA NUMERIC(10,0)								-- CÓDIGO DA PESSOA
		,@RESP VARCHAR(20)									-- CÓDIGO DO RESPONSÁVEL FINANCEIRO
		,@CGC VARCHAR(14)									-- CPF (PESSOA) OU CPF / CNPJ (RESPONSÁVEL)
		,@TIPO VARCHAR(1)									-- TIPO: PESSOA (F)ÍSICA OU PESSOA (J)URÍDICA

		,@ID_ENTIDADE INTEGER
		,@CODIGO INTEGER
		,@A1_COD VARCHAR(8)									-- CÓDIGO DE INTEGRAÇÃO PROTHEUS, FORMATO: L0000000
		,@A1_NOME VARCHAR(60)
		,@A1_PESSOA VARCHAR(1)
		,@A1_NREDUZ VARCHAR(60)
		,@A1_END VARCHAR(50)
		,@A1_MUN VARCHAR(30)
		,@A1_EST VARCHAR(2)
		,@A1_BAIRRO VARCHAR(50)
		,@A1_CEP VARCHAR(9)
		,@A1_CGC VARCHAR(14)
		,@A1_INSCRM VARCHAR(18)
		,@A1_EMAIL VARCHAR(80)
		,@A1_COD_MUN VARCHAR(9)
		,@ACAO VARCHAR(1)									-- (I)NSERIR, (A)TUALIZAR
		,@REENVIAR VARCHAR(1)								-- (S)IM OU (N)ÃO
		,@INTEGRAR VARCHAR(1)								-- VARIÁVEL: VAI INTEGRAR? (S) OU (N)
		,@REVISAR VARCHAR(1)								-- VARIÁVEL: REVISAR? (S) OU (N)
		,@R_E_C_N_O_ INTEGER								-- VARIÁVEL: ID NO PROTHEUS
		--,@INTEGROU VARCHAR(1)								-- VARIÁVEL: INTREGOU? (S) OU (N)
		,@DT_INSERCAO DATETIME				= GETDATE()		-- DATA QUE FOI INSERIDO PARA SER INTEGRADO
		,@DT_INTEGRACAO DATETIME							-- DATA QUE FOI INETGRADO
		, @OPEN_QUERY	[nvarchar](max)						-- INSERIDO EM 01.10.2020 PARA MELHORAR PERFORMANCE DO UPDATE


/*******************************************************
VERIFICAR RESUMO_ATO: INÍCIO
*******************************************************/
IF @INTEGRAR_RESUMO_ATO = 'S'
	BEGIN
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - INTEGRACAO_RESUMO_ATO: INICIO')
	EXEC LYCEUMINTEGRACAO.DBO.FTC_INTEGRACAO_LYCEUM_PROTHEUS_POPULA_RESUMO_ATO
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - INTEGRACAO_RESUMO_ATO: FIM')
	END
/*******************************************************
VERIFICAR RESUMO_ATO: FIM
*******************************************************/


/*******************************************************
CURSOR TABELA ENTIDADE: INÍCIO
*******************************************************/
IF @INTEGRAR_TBL = 'S'

BEGIN
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - INTEGRACAO_LYCEUM_PROTHEUS: INICIO')
	--==================================================================================
	IF OBJECT_ID('TEMPDB.DBO.##TBL_INTEGRAR', 'U') IS NOT NULL DROP TABLE ##TBL_INTEGRAR

	SELECT	DISTINCT
			MAX(TB1.PESSOA) PESSOA 
			, MAX(TB1.RESP) RESP
			, TB1.CGC
			, MAX(TB1.TIPO) TIPO
	INTO	##TBL_INTEGRAR
	FROM (
		SELECT	DISTINCT
				R.PESSOA
				, R.RESP
				, ISNULL(R.CPF_TITULAR, R.CGC_TITULAR) CGC
				, CASE
					WHEN R.CGC_TITULAR IS NOT NULL THEN 'J' -- PESSOA JURIDICA
					ELSE 'F' -- PESSOA FÍSICA
				END TIPO
		FROM	LYCEUM..LY_RESP_FINAN R
		WHERE	1 = 1
				AND (R.CPF_TITULAR IS NOT NULL OR R.CGC_TITULAR IS NOT NULL)
		---------------------------
		UNION
		---------------------------
		SELECT	DISTINCT
				R.PESSOA
				, R.RESP
				, P.CPF CGC
				, 'F' AS TIPO -- PESSOA FÍSICA
		FROM	LYCEUM..LY_RESP_FINAN R
				INNER JOIN LYCEUM..LY_PESSOA P
					ON P.PESSOA = R.PESSOA
		WHERE	1 = 1
				AND R.PESSOA IS NOT NULL
				AND R.CPF_TITULAR IS NULL
				AND R.CGC_TITULAR IS NULL
		---------------------------
		UNION
		---------------------------
		SELECT	DISTINCT
				P.PESSOA
				, NULL RESP
				, P.CPF CGC
				, 'F' TIPO -- PESSOA FISICA
		FROM	LYCEUM..LY_PESSOA P
		WHERE	1 = 1				

	) AS TB1
	WHERE	1 = 1
			AND EXISTS (
				SELECT	TOP 1
						1
				FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_RESUMO_ATO
				WHERE	1 = 1
						AND CGC = TB1.CGC
			)
			AND TB1.CGC IS NOT NULL
			AND TB1.CGC <> ''
			AND TB1.CGC <> '00000000000'
			AND TB1.CGC <> '11111111111'
			AND TB1.CGC <> '22222222222'
			AND TB1.CGC <> '33333333333'
			AND TB1.CGC <> '44444444444'
			AND TB1.CGC <> '55555555555'
			AND TB1.CGC <> '66666666666'
			AND TB1.CGC <> '77777777777'
			AND TB1.CGC <> '88888888888'
			AND TB1.CGC <> '99999999999'
			AND TB1.CGC <> '00000000000000'
			AND TB1.CGC <> '11111111111111'
			AND TB1.CGC <> '22222222222222'
			AND TB1.CGC <> '33333333333333'
			AND TB1.CGC <> '44444444444444'
			AND TB1.CGC <> '55555555555555'
			AND TB1.CGC <> '66666666666666'
			AND TB1.CGC <> '77777777777777'
			AND TB1.CGC <> '88888888888888'
			AND TB1.CGC <> '99999999999999'
			AND (
				LYCEUMINTEGRACAO.DBO.FN_VALIDA_CNPJ(TB1.CGC) = 1
				OR
				LYCEUMINTEGRACAO.DBO.FN_VALIDA_CPF(TB1.CGC) = 1
			)
	GROUP BY TB1.CGC;

	DELETE	TB1
	FROM	##TBL_INTEGRAR AS TB1
			INNER JOIN LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS LP
				ON TB1.PESSOA = LP.PESSOA 
				AND TB1.RESP = LP.RESP
				AND TB1.CGC = LP.CGC
				AND TB1.TIPO = LP.TIPO
	WHERE	1 = 1 

		
	--=== LIMPEZA PARA EVITAR INCONSISTENCIAS

	DELETE LP
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS LP
			INNER JOIN LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS LP2
				ON LP.A1_COD = LP2.A1_COD
			INNER JOIN ##TBL_INTEGRAR TI
				ON TI.CGC = LP2.CGC
	WHERE	1 = 1
			AND LP.ACAO <> 'I' 
			AND LP.INTEGRADO = 'N'

	--======================== FIM LIMPEZA		

	--======================== QUERY PARA AUMENTAR PERFORMANCE
	IF OBJECT_ID('TEMPDB.DBO.##TBL_IMPORTADOS', 'U') IS NOT NULL 
	BEGIN
		DROP TABLE ##TBL_IMPORTADOS
	END

	SELECT	DISTINCT
			P.A1_COD
			, P.ACAO
			, P.INTEGRADO
			, P.CGC
	INTO	##TBL_IMPORTADOS
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS P
			INNER JOIN ##TBL_INTEGRAR T
				ON T.CGC = P.CGC
	WHERE	1 = 1

	
	--=====================================================

	DECLARE CURSOR_OBJECTS CURSOR FOR
		SELECT
			DISTINCT
			TB1.PESSOA
			,TB1.RESP
			,TB1.CGC
			,TB1.TIPO
		FROM ##TBL_INTEGRAR AS TB1
		WHERE 1 = 1
		ORDER BY
			TB1.PESSOA ASC
			,TB1.RESP ASC

	OPEN CURSOR_OBJECTS
	FETCH NEXT FROM CURSOR_OBJECTS INTO @PESSOA, @RESP, @CGC, @TIPO
	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		SET @A1_COD = NULL
		SET @A1_COD = (SELECT DISTINCT TOP 1 A1_COD FROM ##TBL_IMPORTADOS WHERE CGC = @CGC)
		

		IF @A1_COD IS NULL
		BEGIN
			INSERT INTO LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS(A1_COD, PESSOA, RESP, CGC, TIPO, ACAO)
			VALUES(NULL, @PESSOA, @RESP, @CGC, @TIPO, 'I')

			UPDATE LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS
			SET A1_COD = ('L' + REPLICATE('0', 7 - DATALENGTH(CAST(@@IDENTITY AS VARCHAR(7)))) + CAST(@@IDENTITY AS VARCHAR(7)))
			WHERE 1 = 1
				AND ID = @@IDENTITY
		END
		ELSE
		BEGIN
			IF( EXISTS (	SELECT	TOP 1
									1
							FROM	##TBL_IMPORTADOS --LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS
							WHERE	A1_COD = @A1_COD
									AND ACAO = 'I'
									AND INTEGRADO = 'N'
				)
				AND NOT EXISTS (	SELECT	TOP 1
									1
							FROM	##TBL_IMPORTADOS --LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS
							WHERE	A1_COD = @A1_COD
									AND ACAO <> 'I'
				)
			)
			BEGIN
				UPDATE	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS
				SET		PESSOA = ISNULL(@PESSOA, PESSOA)
						, RESP = ISNULL(@RESP, RESP)
						, CGC = ISNULL(@CGC, CGC)
						, TIPO = ISNULL(@TIPO, TIPO)
				WHERE	A1_COD = @A1_COD
						AND ACAO = 'I'
						AND INTEGRADO = 'N'
			END
			ELSE
			BEGIN
				INSERT INTO LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS(A1_COD, PESSOA, RESP, CGC, TIPO, ACAO)
				VALUES(@A1_COD, @PESSOA, @RESP, @CGC, @TIPO, 'A')
			END
		END
		

		FETCH NEXT FROM CURSOR_OBJECTS INTO @PESSOA, @RESP, @CGC, @TIPO
	END
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - INTEGRACAO_LYCEUM_PROTHEUS: FIM')
	CLOSE CURSOR_OBJECTS
	DEALLOCATE CURSOR_OBJECTS
END
/*******************************************************
CURSOR TABELA ENTIDADE: FIM
*******************************************************/


/*******************************************************
CURSOR TABELA: INICIO
*******************************************************/
IF @INTEGRAR_CARGA = 'S'
BEGIN
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - INTEGRACAO_LYCEUM_PROTHEUS_CARGA: INICIO')
	IF OBJECT_ID('TEMPDB.DBO.##TBL_INTEGRAR_MUNICIPIOS', 'U') IS NOT NULL 
	BEGIN
		DROP TABLE ##TBL_INTEGRAR_MUNICIPIOS
	END

	SELECT	CC2_CODMUN, CC2_MUN
	INTO	##TBL_INTEGRAR_MUNICIPIOS 
	FROM	OPENQUERY(PRODUCAO, 'SELECT DISTINCT CC2_CODMUN, CC2_MUN FROM SIGA.CC2010')
	
	IF OBJECT_ID('TEMPDB.DBO.##TBL_INTEGRAR_CARGA', 'U') IS NOT NULL 
	BEGIN
		DROP TABLE ##TBL_INTEGRAR_CARGA
	END

	SELECT
		DISTINCT
		ID ID_ENTIDADE
		,A1_COD
		,PESSOA
		,RESP
		,SUBSTRING(DBO.FN_FTC_REMOVE_ACENTO(DBO.FN_FTC_REMOVE_CARACTER_ESPECIAL(A1_NOME)), 1, 60) A1_NOME
		,A1_PESSOA
		,SUBSTRING(DBO.FN_FTC_REMOVE_ACENTO(DBO.FN_FTC_REMOVE_CARACTER_ESPECIAL(A1_NREDUZ)), 1, 60) A1_NREDUZ
		,SUBSTRING(DBO.FN_FTC_REMOVE_ACENTO(DBO.FN_FTC_REMOVE_CARACTER_ESPECIAL(A1_END)), 1, 50) A1_END
		,ISNULL((SELECT TOP 1 CC2_MUN FROM ##TBL_INTEGRAR_MUNICIPIOS WHERE CC2_CODMUN = A1_COD_MUN), '') A1_MUN
		,A1_EST
		,SUBSTRING(DBO.FN_FTC_REMOVE_ACENTO(DBO.FN_FTC_REMOVE_CARACTER_ESPECIAL(A1_BAIRRO)), 1, 50) A1_BAIRRO
		,A1_CEP
		,A1_CGC
		,A1_INSCRM
		,SUBSTRING(DBO.FN_FTC_REMOVE_ACENTO(A1_EMAIL), 1, 80) A1_EMAIL
		,A1_COD_MUN
		,ACAO
		,REENVIAR
		INTO ##TBL_INTEGRAR_CARGA
	FROM (
		SELECT
			IE.ID
			,IE.A1_COD
			,IE.PESSOA
			,NULL RESP
			,UPPER(ISNULL(P.NOME_COMPL, '')) A1_NOME
			,IE.TIPO A1_PESSOA
			,UPPER(CASE
				WHEN P.NOME_ABREV IS NULL THEN P.NOME_COMPL
				WHEN P.NOME_ABREV = '' THEN P.NOME_COMPL
				ELSE P.NOME_ABREV
			END) A1_NREDUZ
			,UPPER(RTRIM(ISNULL(P.ENDERECO, '') + ' ' + ISNULL(P.END_NUM, '') + ' ' + ISNULL(P.END_COMPL, ''))) A1_END
			--A1_MUN: VAI PEGAR O CODIGO DO PROTHEUS
			,UPPER(ISNULL(M.UF, '')) A1_EST
			,UPPER(ISNULL(P.BAIRRO, '')) A1_BAIRRO
			,ISNULL(REPLACE(P.CEP, ' ', ''), '') A1_CEP
			,IE.CGC A1_CGC
			,'' A1_INSCRM
			,LOWER(ISNULL(ISNULL(P.E_MAIL, P.E_MAIL_COM), '')) A1_EMAIL
			,ISNULL(SUBSTRING(M.CODIGO_IBGE, 3, 7), '') A1_COD_MUN
			,IE.ACAO ACAO
			,IE.REENVIAR
			,IE.INTEGRADO
		FROM LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS IE
		INNER JOIN LYCEUM..LY_PESSOA P ON 1 = 1
			AND P.PESSOA = IE.PESSOA
		LEFT JOIN LYCEUM..HD_MUNICIPIO M ON 1 = 1
			AND M.MUNICIPIO = P.END_MUNICIPIO
		WHERE 1 = 1
		UNION
		SELECT
			IE.ID
			,IE.A1_COD
			,NULL PESSOA
			,IE.RESP
			,UPPER(ISNULL(R.TITULAR, '')) A1_NOME
			,IE.TIPO A1_PESSOA
			,UPPER(ISNULL(R.TITULAR, '')) A1_NREDUZ
			,UPPER(RTRIM(ISNULL(R.ENDERECO, '') + ' ' + ISNULL(R.END_NUM, '') + ' ' + ISNULL(R.END_COMPL, ''))) A1_END
			--A1_MUN: VAI PEGAR O CODIGO DO PROTHEUS
			,UPPER(ISNULL(M.UF, '')) A1_EST
			,UPPER(ISNULL(R.BAIRRO, '')) A1_BAIRRO
			,ISNULL(REPLACE(R.CEP, ' ', ''), '') A1_CEP
			,IE.CGC A1_CGC
			,'' A1_INSCRM
			,LOWER(ISNULL(R.E_MAIL, '')) A1_EMAIL
			,ISNULL(SUBSTRING(M.CODIGO_IBGE, 3, 7), '') A1_COD_MUN
			,IE.ACAO
			,IE.REENVIAR
			,IE.INTEGRADO
		FROM LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS IE
		INNER JOIN LYCEUM..LY_RESP_FINAN R ON 1 = 1
			AND R.RESP = IE.RESP
		LEFT JOIN LYCEUM..HD_MUNICIPIO M ON 1 = 1
			AND M.MUNICIPIO = R.END_MUNICIPIO
		WHERE 1 = 1
	) TBL
	WHERE 1 = 1
		AND (
			(
				TBL.ACAO IN ('I', 'A')
				AND TBL.INTEGRADO = 'N'
			)
			OR TBL.REENVIAR = 'S'
		)
		/*AND NOT EXISTS (
			SELECT TOP 1
				1
			FROM LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA
			WHERE 1 = 1
				AND A1_COD = TBL.A1_COD
				AND DT_INTEGRACAO IS NULL
				AND ERRO IS NULL
		)*/
	ORDER BY
		TBL.ID ASC


	--========================================================
	--=== LIMPEZA PARA EVITAR INCONSISTENCIAS

	DELETE LPC
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA LPC
			INNER JOIN LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA LPC2
				ON LPC.A1_COD = LPC2.A1_COD
			INNER JOIN  ##TBL_INTEGRAR_CARGA TIC
				ON TIC.A1_CGC = LPC2.A1_CGC
	WHERE	1 = 1
			AND LPC.ACAO NOT IN ('I')
			AND LPC.DT_INTEGRACAO IS NULL
	--======================== FIM LIMPEZA


	DELETE	TB1
	FROM	##TBL_INTEGRAR_CARGA AS TB1
			INNER JOIN LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA LP
				ON TB1.A1_COD  = LP.A1_COD  		
	WHERE	1 = 1 
			AND LP.DT_INTEGRACAO IS NULL 
			AND LP.ERRO IS NULL



	--======================== QUERY PARA AUMENTAR PERFORMANCE
	IF OBJECT_ID('TEMPDB.DBO.##TBL_IMPORTADOS_CARGA', 'U') IS NOT NULL
	BEGIN
		DROP TABLE ##TBL_IMPORTADOS_CARGA
	END

	SELECT	DISTINCT
			P.A1_COD
			, P.ACAO
			, P.DT_INTEGRACAO
			, P.A1_CGC
	INTO	##TBL_IMPORTADOS_CARGA
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA P
			INNER JOIN ##TBL_INTEGRAR_CARGA T
				ON T.A1_CGC = P.A1_CGC
	WHERE	1 = 1
	
	--=====================================================
	
	DECLARE CURSOR_OBJECTS CURSOR FOR
		SELECT
			DISTINCT
			MAX(ID_ENTIDADE) AS ID_ENTIDADE
			,MAX(PESSOA) AS PESSOA
			,MAX(RESP) AS RESP
			,MAX(A1_COD) AS A1_COD
			,MAX(A1_NOME) AS A1_NOME
			,MAX(A1_PESSOA) AS A1_PESSOA
			,MAX(A1_NREDUZ) AS A1_NREDUZ
			,MAX(A1_END) AS A1_END
			,MAX(A1_MUN) AS A1_MUN
			,MAX(A1_EST) AS A1_EST
			,MAX(A1_BAIRRO) AS A1_BAIRRO
			,MAX(A1_CEP) AS A1_CEP
			,A1_CGC
			,MAX(A1_INSCRM) AS A1_INSCRM
			,MAX(A1_EMAIL) AS A1_EMAIL
			,MAX(A1_COD_MUN) AS A1_COD_MUN
			,MAX(ACAO) AS ACAO
			,MAX(REENVIAR) AS REENVIAR
		FROM ##TBL_INTEGRAR_CARGA
		GROUP BY A1_CGC
		ORDER BY
			PESSOA ASC

	OPEN CURSOR_OBJECTS
	FETCH NEXT FROM CURSOR_OBJECTS INTO @ID_ENTIDADE, @PESSOA, @RESP, @A1_COD ,@A1_NOME ,@A1_PESSOA ,@A1_NREDUZ ,@A1_END ,@A1_MUN ,@A1_EST ,@A1_BAIRRO ,@A1_CEP ,@A1_CGC ,@A1_INSCRM ,@A1_EMAIL ,@A1_COD_MUN ,@ACAO, @REENVIAR
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @INTEGRAR = 'S'
		SET @REVISAR = 'N'
		IF LEN(@A1_END) < 8 SET @REVISAR = 'S'
		IF @A1_MUN = '' SET @REVISAR = 'S'
		IF @A1_EST = '' SET @REVISAR = 'S'
		IF LEN(@A1_BAIRRO) < 3 SET @REVISAR = 'S'
		IF LEN(@A1_COD_MUN) > 5 SET @REVISAR = 'S'
		IF LEN(@A1_CEP) <> 8 SET @REVISAR = 'S'
		IF @A1_CEP = '00000000' SET @REVISAR = 'S'
		IF @A1_EMAIL = '' SET @REVISAR = 'S'
		IF @A1_COD_MUN = '0000000' SET @REVISAR = 'S'
		IF @A1_COD_MUN = '' SET @REVISAR = 'S'
		IF LEN(@A1_EMAIL) > 80 SET @REVISAR = 'S'
		IF (LYCEUMINTEGRACAO.DBO.FN_FTC_EH_EMAIL(@A1_EMAIL) = 0) SET @REVISAR = 'S'
		IF @REVISAR = 'S' SET @INTEGRAR = 'N'
		IF @A1_NREDUZ = '' SET @A1_NREDUZ = @A1_NOME

		IF (SELECT DISTINCT TOP 1 1 FROM ##TBL_IMPORTADOS_CARGA WHERE A1_CGC = @A1_CGC) IS NULL
		BEGIN 
			INSERT INTO LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA(ID_ENTIDADE, PESSOA, RESP, A1_COD, A1_NOME, A1_PESSOA, A1_NREDUZ, A1_END, A1_MUN, A1_EST, A1_BAIRRO, A1_CEP, A1_CGC, A1_INSCRM, A1_EMAIL, A1_COD_MUN, ACAO, INTEGRAR, REVISAR)
			SELECT
				@ID_ENTIDADE ID_ENTIDADE
				,@PESSOA PESSOA
				,@RESP RESP
				,@A1_COD A1_COD
				,@A1_NOME A1_NOME
				,@A1_PESSOA A1_PESSOA
				,@A1_NREDUZ A1_NREDUZ
				,@A1_END A1_END
				,@A1_MUN A1_MUN
				,@A1_EST A1_EST
				,@A1_BAIRRO A1_BAIRRO
				,@A1_CEP A1_CEP
				,@A1_CGC A1_CGC
				,@A1_INSCRM A1_INSCRM
				,@A1_EMAIL A1_EMAIL
				,@A1_COD_MUN A1_COD_MUN
				,'I' ACAO
				,@INTEGRAR INTEGRAR
				,@REVISAR REVISAR
		END
		ELSE
		BEGIN
			IF( EXISTS (	SELECT	TOP 1
									1
							FROM	##TBL_IMPORTADOS_CARGA
							WHERE	A1_COD = @A1_COD
									AND ACAO = 'I'
									AND DT_INTEGRACAO IS NULL
				)
				AND NOT EXISTS (	SELECT	TOP 1
									1
									FROM	##TBL_IMPORTADOS_CARGA
									WHERE	A1_COD = @A1_COD
											AND ACAO NOT IN ('I')
				)
			)
			BEGIN
				UPDATE	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA
				SET		ID_ENTIDADE = @ID_ENTIDADE 
						,PESSOA = @PESSOA 
						,RESP = @RESP  
						,A1_NOME = @A1_NOME 
						,A1_PESSOA = @A1_PESSOA 
						,A1_NREDUZ = @A1_NREDUZ 
						,A1_END = @A1_END 
						,A1_MUN = @A1_MUN 
						,A1_EST = @A1_EST 
						,A1_BAIRRO = @A1_BAIRRO 
						,A1_CEP = @A1_CEP 
						,A1_CGC = @A1_CGC 
						,A1_INSCRM = @A1_INSCRM 
						,A1_EMAIL = @A1_EMAIL 
						,A1_COD_MUN = @A1_COD_MUN 
						,INTEGRAR = @INTEGRAR 
						,REVISAR = @REVISAR 
				WHERE	A1_COD = @A1_COD
						AND ACAO = 'I'
						AND DT_INTEGRACAO IS NULL
			END
			ELSE
			BEGIN
				INSERT INTO LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA(ID_ENTIDADE, PESSOA, RESP, A1_COD, A1_NOME, A1_PESSOA, A1_NREDUZ, A1_END, A1_MUN, A1_EST, A1_BAIRRO, A1_CEP, A1_CGC, A1_INSCRM, A1_EMAIL, A1_COD_MUN, ACAO, INTEGRAR, REVISAR)
				SELECT
					@ID_ENTIDADE ID_ENTIDADE
					,@PESSOA PESSOA
					,@RESP RESP
					,@A1_COD A1_COD
					,@A1_NOME A1_NOME
					,@A1_PESSOA A1_PESSOA
					,@A1_NREDUZ A1_NREDUZ
					,@A1_END A1_END
					,@A1_MUN A1_MUN
					,@A1_EST A1_EST
					,@A1_BAIRRO A1_BAIRRO
					,@A1_CEP A1_CEP
					,@A1_CGC A1_CGC
					,@A1_INSCRM A1_INSCRM
					,@A1_EMAIL A1_EMAIL
					,@A1_COD_MUN A1_COD_MUN
					,'A' ACAO
					,@INTEGRAR INTEGRAR
					,@REVISAR REVISAR
			END
		END

		--========================================================

		FETCH NEXT FROM CURSOR_OBJECTS INTO @ID_ENTIDADE, @PESSOA, @RESP, @A1_COD ,@A1_NOME ,@A1_PESSOA ,@A1_NREDUZ ,@A1_END ,@A1_MUN ,@A1_EST ,@A1_BAIRRO ,@A1_CEP ,@A1_CGC ,@A1_INSCRM ,@A1_EMAIL ,@A1_COD_MUN ,@ACAO, @REENVIAR
	END
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - INTEGRACAO_LYCEUM_PROTHEUS_CARGA: FIM')
	CLOSE CURSOR_OBJECTS
	DEALLOCATE CURSOR_OBJECTS
END
/*******************************************************
CURSOR TABELA: FIM
*******************************************************/


/*******************************************************
CURSOR INSERIR PROTHEUS: INÍCIO
*******************************************************/
IF @INTEGRAR_PROTHEUS = 'S'
BEGIN
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - ENVIO SA1010 PROTHEUS: INICIO')
	/* ALTERADO EM 05/05/2020 PARA AUMENTAR PERFORMANCE */
		IF OBJECT_ID('TEMPDB.DBO.##TBL_INTEGRADOS', 'U') IS NOT NULL
		BEGIN
			DROP TABLE ##TBL_INTEGRADOS
		END
		
		SELECT	DISTINCT
				A1_COD 
		INTO	##TBL_INTEGRADOS 
		FROM	OPENQUERY (PRODUCAO, 'SELECT DISTINCT A1_COD FROM SIGA.SA1010 WHERE SUBSTR(A1_COD, 1, 1) = ''L''')

	IF OBJECT_ID('TEMPDB.DBO.##TBL_INTEGRAR_PROTHEUS', 'U') IS NOT NULL 
	BEGIN
		DROP TABLE ##TBL_INTEGRAR_PROTHEUS
	END
	SELECT DISTINCT TOP 1000 -- LIMITA CADA EXECUÇÃO A MIL CLIENTES (PERFORMANCE)
		ID_ENTIDADE
		,A1_COD
		,A1_NOME
		,A1_PESSOA
		,A1_NREDUZ
		,A1_END
		,A1_MUN
		,A1_EST
		,A1_BAIRRO
		,A1_CEP
		,A1_CGC
		,A1_INSCRM
		,A1_EMAIL
		,A1_COD_MUN
		,ACAO
		INTO ##TBL_INTEGRAR_PROTHEUS
	FROM (
			SELECT
				I.*
			FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA I
					INNER JOIN LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_RESUMO_ATO LPRA
						ON LPRA.CGC = I.A1_CGC
			WHERE 1 = 1
				--AND I.A1_COD = 'L0027375' -- INTEGRAR ALGUMA PESSOA ESPECÍFICA
				AND I.INTEGRAR = 'S'
				AND I.REVISAR = 'N'
				AND I.ACAO IN ('I','A')
				AND I.DT_INTEGRACAO IS NULL
	) TBL
	WHERE 1 = 1
		AND (
				(TBL.ACAO = 'I' 
				AND NOT EXISTS (
						SELECT TOP 1
							1
						FROM ##TBL_INTEGRADOS AS ITG
						WHERE 1 = 1
							AND ITG.A1_COD = TBL.A1_COD
					)
				)
			OR	(TBL.ACAO = 'A' 
				AND EXISTS (
						SELECT TOP 1
							1
						FROM ##TBL_INTEGRADOS AS ITG
						WHERE 1 = 1
							AND ITG.A1_COD = TBL.A1_COD
					)
				)
			)
	ORDER BY TBL.ACAO DESC -- PRIORIZA OS NOVOS CADASTROS AO INVES DAS ATUALIZACOES

	--DROP TABLE ##TBL_INTEGRADOS

	DECLARE CURSOR_OBJECTS CURSOR FOR
		SELECT DISTINCT
			ID_ENTIDADE
			,A1_COD
			,REPLACE(DBO.FN_FTC_REMOVE_ACENTO(A1_NOME), '''', '''''') A1_NOME
			,A1_PESSOA
			,REPLACE(IIF(DBO.FN_FTC_REMOVE_ACENTO(A1_NREDUZ) = '', ' ',DBO.FN_FTC_REMOVE_ACENTO(A1_NREDUZ)), '''', '''''') A1_NREDUZ
			,REPLACE(IIF(DBO.FN_FTC_REMOVE_ACENTO(A1_END) = '', ' ',DBO.FN_FTC_REMOVE_ACENTO(A1_END)), '''', '''''') A1_END
			,REPLACE(IIF(DBO.FN_FTC_REMOVE_ACENTO(A1_MUN) = '', ' ',DBO.FN_FTC_REMOVE_ACENTO(A1_MUN)), '''', '''''') A1_MUN
			,REPLACE(A1_EST, '''', '''''') A1_EST
			,REPLACE(A1_BAIRRO, '''', '''''') A1_BAIRRO
			,A1_CEP
			,A1_CGC
			,A1_INSCRM
			,REPLACE(A1_EMAIL, '''', '''''') A1_EMAIL
			,A1_COD_MUN
			,ACAO
		FROM ##TBL_INTEGRAR_PROTHEUS
		WHERE 1 = 1
		ORDER BY
			ID_ENTIDADE ASC

	OPEN CURSOR_OBJECTS

	FETCH NEXT FROM CURSOR_OBJECTS INTO @ID_ENTIDADE,@A1_COD,@A1_NOME,@A1_PESSOA,@A1_NREDUZ,@A1_END,@A1_MUN,@A1_EST,@A1_BAIRRO,@A1_CEP,@A1_CGC,@A1_INSCRM,@A1_EMAIL,@A1_COD_MUN,@ACAO
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @DT_INTEGRACAO = CURRENT_TIMESTAMP
		
		/*
		-- PRINT PARA TESTES
		PRINT('====================================')
		PRINT(CONCAT('@R_E_C_N_O_', ' : ', CAST(@R_E_C_N_O_ AS VARCHAR)))
		PRINT(CONCAT('@ID_ENTIDADE', ' : ', CAST(@ID_ENTIDADE AS VARCHAR)))
		PRINT(CONCAT('@A1_COD', ' : ', CAST(@A1_COD AS VARCHAR)))
		PRINT(CONCAT('@A1_NOME', ' : ', CAST(@A1_NOME AS VARCHAR)))
		PRINT(CONCAT('@A1_PESSOA', ' : ', CAST(@A1_PESSOA AS VARCHAR)))
		PRINT(CONCAT('@A1_NREDUZ', ' : ', CAST(@A1_NREDUZ AS VARCHAR)))
		PRINT(CONCAT('@A1_END', ' : ', CAST(@A1_END AS VARCHAR)))
		PRINT(CONCAT('@A1_MUN', ' : ', CAST(@A1_MUN AS VARCHAR)))
		PRINT(CONCAT('@A1_EST', ' : ', CAST(@A1_EST AS VARCHAR)))
		PRINT(CONCAT('@A1_BAIRRO', ' : ', CAST(@A1_BAIRRO AS VARCHAR)))
		PRINT(CONCAT('@A1_CEP', ' : ', CAST(@A1_CEP AS VARCHAR)))
		PRINT(CONCAT('@A1_CGC', ' : ', CAST(@A1_CGC AS VARCHAR)))
		PRINT(CONCAT('@A1_INSCRM', ' : ', CAST(@A1_INSCRM AS VARCHAR)))
		PRINT(CONCAT('@A1_EMAIL', ' : ', CAST(@A1_EMAIL AS VARCHAR)))
		PRINT(CONCAT('@A1_COD_MUN', ' : ', CAST(@A1_COD_MUN AS VARCHAR)))
		PRINT(CONCAT('@ACAO', ' : ', CAST(@ACAO AS VARCHAR)))
		PRINT('====================================')
		*/
		IF @ACAO = 'I'
		BEGIN
			SELECT @R_E_C_N_O_ = R_E_C_N_O_ FROM OPENQUERY(PRODUCAO, 'SELECT MAX(R_E_C_N_O_) + 1 R_E_C_N_O_ FROM SIGA.SA1010')

			INSERT OPENQUERY(PRODUCAO, 'SELECT A1_COD,A1_LOJA,A1_NOME,A1_PESSOA,A1_NREDUZ,A1_TIPO,A1_END,A1_MUN,A1_EST,A1_BAIRRO,A1_CEP,A1_CGC,A1_INSCRM,A1_TIPCLI,A1_EMAIL,A1_COD_MUN,A1_B2B,A1_ABATIMP,R_E_C_N_O_,A1_MSBLQL,A1_USADDA,A1_MINIRF,A1_REGESIM,A1_IRBAX,A1_TPDP,A1_USERLGI FROM SIGA.SA1010 WHERE SUBSTR(A1_COD, 1, 1) = ''L''')
			VALUES(@A1_COD,'01',@A1_NOME,@A1_PESSOA,@A1_NREDUZ,'F',@A1_END,@A1_MUN,@A1_EST,@A1_BAIRRO,@A1_CEP,@A1_CGC,@A1_INSCRM,'1',@A1_EMAIL,@A1_COD_MUN,'2','1',@R_E_C_N_O_,'2','2','2','2','2','2','LYCEUM')
		END
		ELSE IF @ACAO = 'A'
		BEGIN
			SET @OPEN_QUERY = CONCAT('UPDATE OPENQUERY(PRODUCAO, ''SELECT A1_COD, A1_NOME, A1_NREDUZ, A1_END, A1_MUN, A1_EST, A1_BAIRRO, A1_CEP, A1_INSCRM, A1_EMAIL, A1_COD_MUN FROM SIGA.SA1010 WHERE A1_COD = ''''', CAST(@A1_COD AS VARCHAR), ''''''')'
			, ' SET A1_NOME = ''' , @A1_NOME, ''''
			, ' , A1_NREDUZ = ''' , @A1_NREDUZ, ''''
			, ' , A1_END = ''' , @A1_END, ''''
			, ' , A1_MUN = ''' , @A1_MUN, ''''
			, ' , A1_EST = ''' , @A1_EST, ''''
			, ' , A1_BAIRRO = ''' , @A1_BAIRRO, ''''
			, ' , A1_CEP = ''' , @A1_CEP, ''''
			, ' , A1_INSCRM = ''' , @A1_INSCRM, ''''
			, ' , A1_EMAIL = ''' , @A1_EMAIL, ''''
			, ' , A1_COD_MUN = ''' , @A1_COD_MUN, ''''
			, ' WHERE A1_COD = ''' , @A1_COD, '''')

			EXECUTE SP_EXECUTESQL	@OPEN_QUERY; 

			UPDATE LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS SET ATUALIZADO = 'S' WHERE A1_COD = @A1_COD
		END
	
		FETCH NEXT FROM CURSOR_OBJECTS INTO @ID_ENTIDADE,@A1_COD,@A1_NOME,@A1_PESSOA,@A1_NREDUZ,@A1_END,@A1_MUN,@A1_EST,@A1_BAIRRO,@A1_CEP,@A1_CGC,@A1_INSCRM,@A1_EMAIL,@A1_COD_MUN,@ACAO
	END
	PRINT	CONCAT(CONVERT(VARCHAR, CURRENT_TIMESTAMP, 120), ' - ENVIO SA1010 PROTHEUS: FIM')
	CLOSE CURSOR_OBJECTS
	DEALLOCATE CURSOR_OBJECTS

	/************** ATUALIZACAO DOS REGISTROS **********************/

	-- 1. ATUALIZAR LISTA DE REGISTROS ENVIADOS
	IF OBJECT_ID('TEMPDB.DBO.##TBL_INTEGRADOS_ATUALIZADA', 'U') IS NOT NULL
	BEGIN
		DROP TABLE ##TBL_INTEGRADOS_ATUALIZADA
	END
		
	SELECT	DISTINCT
			A1_COD 
	INTO	##TBL_INTEGRADOS_ATUALIZADA 
	FROM	OPENQUERY (PRODUCAO, 'SELECT DISTINCT A1_COD FROM SIGA.SA1010 WHERE SUBSTR(A1_COD, 1, 1) = ''L''')

	-- 2. ATUALIZAR REGISTROS QUE TIVERAM SUCESSO NO ENVIO

	UPDATE	ILP
	SET		ILP.INTEGRADO = 'S'
			, ILP.REENVIAR = NULL
			, ILP.DT_ULT_ATUALIZACAO = CURRENT_TIMESTAMP
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS AS ILP
			INNER JOIN ##TBL_INTEGRAR_PROTHEUS AS TIP
				ON TIP.A1_COD = ILP.A1_COD
				AND TIP.ID_ENTIDADE = ILP.ID
			INNER JOIN ##TBL_INTEGRADOS_ATUALIZADA AS INTEGRADOS
				ON ILP.A1_COD = INTEGRADOS.A1_COD
	WHERE	1 = 1

	UPDATE	ILPC
	SET		ILPC.DT_INTEGRACAO = CURRENT_TIMESTAMP
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA AS ILPC
			INNER JOIN ##TBL_INTEGRAR_PROTHEUS AS TIP
				ON TIP.A1_COD = ILPC.A1_COD
				AND TIP.ID_ENTIDADE = ILPC.ID_ENTIDADE
			INNER JOIN ##TBL_INTEGRADOS_ATUALIZADA AS INTEGRADOS
				ON ILPC.A1_COD = INTEGRADOS.A1_COD
	WHERE	1 = 1

	-- 3. ATUALIAR REGISTROS QUE NAO TIVERAM SUCESSO NO ENVIO

	UPDATE	ILP
	SET		ILP.INTEGRADO = 'N'
			, ILP.REENVIAR = NULL
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS AS ILP
			INNER JOIN ##TBL_INTEGRAR_PROTHEUS AS TIP
				ON TIP.A1_COD = ILP.A1_COD
				AND TIP.ID_ENTIDADE = ILP.ID
			LEFT JOIN ##TBL_INTEGRADOS_ATUALIZADA AS INTEGRADOS
				ON ILP.A1_COD = INTEGRADOS.A1_COD
	WHERE	1 = 1
			AND INTEGRADOS.A1_COD IS NULL

	UPDATE	ILPC
	SET		ILPC.INTEGRAR = 'N'
			, ILPC.REVISAR = 'S'
			, ILPC.ERRO = 'S'
	FROM	LYCEUMINTEGRACAO..FTC_INTEGRACAO_LYCEUM_PROTHEUS_CARGA AS ILPC
			INNER JOIN ##TBL_INTEGRAR_PROTHEUS AS TIP
				ON TIP.A1_COD = ILPC.A1_COD
				AND TIP.ID_ENTIDADE = ILPC.ID_ENTIDADE
			LEFT JOIN ##TBL_INTEGRADOS_ATUALIZADA AS INTEGRADOS
				ON ILPC.A1_COD = INTEGRADOS.A1_COD
	WHERE	1 = 1
			AND INTEGRADOS.A1_COD IS NULL

	/************ FIM ATUALIZACAO *****************/

END

/*******************************************************
CURSOR INSERIR PROTHEUS: FIM
*******************************************************/

	DROP TABLE ##TBL_INTEGRAR
	DROP TABLE ##TBL_IMPORTADOS
	DROP TABLE ##TBL_INTEGRAR_MUNICIPIOS
	DROP TABLE ##TBL_INTEGRAR_CARGA
	DROP TABLE ##TBL_IMPORTADOS_CARGA
	DROP TABLE ##TBL_INTEGRADOS
	DROP TABLE ##TBL_INTEGRAR_PROTHEUS
	DROP TABLE ##TBL_INTEGRADOS_ATUALIZADA
END
